# Valores posibles: Development | Production
ASPNETCORE_ENVIRONMENT=Development

Cors__AllowedOrigins__0=https://example.loasi.cloud

minio__endpoint=minio:9000
minio__accessKey=
minio__secretKey=
minio__WithSSL=false

Wso2is__Authority=https://example.cloud/oauth2
Wso2is__OidcMetadata=https://example.cloud/oauth2/oidcdiscovery/.well-known/openid-configuration
Wso2is__Jwks=https://example.cloud/oauth2/jwks
